body {
    background-color: rgba(223, 211, 209, 0.795);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 10%;
  
    background-image: url("jdr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    color :black ;
    font-family: 'Luminari';
    font-size: 300%;
    border : auto;
    font-size: 107px;
    font-weight: 1000;

}
p {
    color : lightgray;
    border : 4px solid white;
    padding: 15px;
    background-color : rgba(116, 6, 6, 0.815);
    border-radius : 100 px;
   
}
a:link, a:visited {
    background-color: rgb(116, 6, 6, 0.815);
    font-size: 25px;
    color : white;
    padding: 25px;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
   
}


