ul{
  margin: 0;
  padding-left: 6%;
  list-style-type: none;

}
li{
  margin: 0;
  background-image: url("../add/sword.svg");
  background-size: 15%;
  background-repeat: no-repeat;
  padding-left: 20%;
}
td, th{
  text-align: center;
  width: 1px;
  border: 1px solid;
  height: 33.33%;
  width: 33.33%;
}
body{
  background-image: url("../add/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*
#################################################### gestion de l'affiche de fond a ratio constant
*/
#backgroundTab{
  margin: 0 auto;
  width: 33.33%;
  min-width: 450px;
}
#backgroundTab > div{
  width: 100%;
  padding-bottom: 135%;
  position: relative;
}
#ficheTab{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 10%;

  background-image: url("../add/scrol_1653x2230.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/*
#################################################### nom
*/
#nameTab{
  width: 50%;
  margin: auto;
  font-family: 'Kingthings Spikeless';
  text-align: center;
  padding-top: 12%;
  border-bottom: solid #000000aa;
}
/*
#################################################### bar de vie et de mana
*/
#lifeTab{
  width: 50%;
  margin: auto;
  font-family: 'Kingthings Spikeless';
  text-align: center;
  border-top: solid #000000aa;
}
#lifeSpan{
  color: red;
}
#manaSpan{
  color: blue;
}
/*
#################################################### ligne de states
*/
#stateTab{
  display: flex;
  text-align: center;
}
#stateName, #stateNum{
  font-family: sans-serif;
  padding-top: 10%;
  padding-left: 10%;
}
/*
#################################################### tableau de defense
*/
#defTable{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.barre{
  background-color: black;
  color: white;
  border-color: black;
}
/*
#################################################### inventaire et maitrise
*/
#invMaitTab{
  height: 20%;
  width: 90%;
  margin: auto;
  display: flex;
  border: 1px solid;
  margin-top: 5%;
}
#invTab, #maitriseTab{
  height: 100%;
  width: 50%;
  overflow: hidden;
}
#invTab{
  border-right: 1px solid;
}

#invHeadTab, #maitriseHeadTab{
  height: 20%;
  width: 100%;
  overflow-y: hidden;
  font-family: 'Kingthings Spikeless';
  text-align: center;
  border-bottom: 1px solid;
}
#invCoreTab, #maitriseCoreTab{
  height: 80%;
  width: 100%;
  overflow-y: scroll;
}
#invCoreTab{
  direction: rtl;
}
#invCoreTab > div{
  direction: ltr;
}
#maitriseCoreTab{
  display: flex;
  flex-direction: row;
}
#maitriseCoreTab > div{
  width: 50%;
  text-align: center;
}
.titleMait{
  font-family: 'Kingthings Spikeless';
}
/*
#################################################### arme
*/
#armeTab{
  position: relative;
  height: 20%;
  width: 90%;
  margin: auto;
  border: 1px solid;
  border-top: none;
  /* arnaque pour la position fixed */
  transform: scale(1, 1);
}
.amreLigne{
  display: flex;
  flex-direction: row;
}
#armeTitle{
  /* font-weight: bold; */
  height: 20%;
}
#armeBody{
  height: 80%;
  width: 100%;
}
#armeScroll{
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.t1, .t2, .t3, .t4, .t5, .t6{
  position: relative;
  width: 17%;
  height: 20%;
  border-right: 1px solid;
  text-align: center;
  border-bottom: 1px solid;
}
.fixedt{
  z-index: 2;
  position: fixed;
  background-color: black;
  width: 16.6%;
  height: 20%;
  color: white;
}
/*
#################################################### scrollbar
*/
.scrollB::-webkit-scrollbar {
  width: 6px;
}
.scrollB::-webkit-scrollbar-track {
  background: #00000000;
}

.scrollB::-webkit-scrollbar-thumb {
  background-color: #00000055;
  border-radius: 20px;
  width: 6px;
}
